@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-image: url('../img/Edu-Descansando.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Press Start 2P", cursive;
}

